<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagar Reserva</title>
</head>
<body>
    <h1>Pagar Reserva</h1>
    <h2>Detalles de la Reserva:</h2>

    {% if reserva %}
        <p>Pagador: {{ reserva.nombre }}</p>
        <p>Destinatario: {{ destinatario.nombre }}</p>
        <h3>Monto: {{ transaccion_semi.monto }} </h3>
    {% else %}
        <p>No se han encontrado datos de reserva.</p>
    {% endif %}

    <form method="POST" action="{% url 'pago' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Pagar</button>
    </form>

    <!-- JavaScript para mostrar/ocultar el campo de cuotas -->
    <script>
        // Obtener el checkbox y el div de cuotas
        const cuotasCheckbox = document.querySelector('#cuotas');
        const cuotasDiv = document.getElementById('cuotas_div');

        // Mostrar/ocultar el campo de cantidad de cuotas según el estado del checkbox
        cuotasCheckbox.addEventListener('change', function() {
            if (this.checked) {
                cuotasDiv.style.display = 'block';
            } else {
                cuotasDiv.style.display = 'none';
            }
        });

        // Verificar el estado del checkbox al cargar la página
        document.addEventListener('DOMContentLoaded', function() {
            if (cuotasCheckbox.checked) {
                cuotasDiv.style.display = 'block';
            } else {
                cuotasDiv.style.display = 'none';
            }
        });
    </script>
</body>
</html>
